#{extends 'main.html' /} #{set title:'Home' /}

<!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="./">EDA project Interactive
			Visualization</a>
	</div>
</div>


<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12">
			<!-- US MAP -->
			<div class="row">
				<div class="col-sm-6">
					<div class="chart-wrapper">
						<div class="chart-title">US MAP</div>
						<div class="chart-stage">
							<div id="us-map-chart"></div>
						</div>
					</div>
				</div>

				<!-- GAIN LOST -->
				<div class="col-sm-6">
					<div class="col-sm-12">
						<div class="chart-wrapper">
							<div class="chart-title">JOB GAIN LOST</div>
							<div class="chart-stage">
								<div id="gl-chart"></div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- BUSINESS BY TYPE -->
			<div class="row">
				<div class="col-sm-6">
					<div class="chart-wrapper">
						<div class="chart-title">BUSINESS BY TYPE</div>
						<div class="chart-stage">
							<div id="business-chart"></div>
						</div>
						<div class="chart-stage">
							<div id="business-bar-chart"></div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="chart-wrapper">
						<div class="chart-title">JOBS BY STAGES</div>
						<div class="chart-stage">
							<div id="jobs-chart"></div>
						</div>
						<div class="chart-stage">
							<div id="jobs-bar-chart"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">SALES</div>
						<div class="chart-stage">
							<div id="combine_chart"></div>
						</div>
					</div>
				</div>

			</div>



		</div>


	</div>


</div>

#{set 'moreScripts'}
<script src="@{'/public/static/js/graphs.js'}" type="text/javascript"></script>
#{/set}
